extends layout

block content
  section(class="hero is-medium main-img")
    div(class="hero-head")
      nav(class="navbar")
        div(class="container")
          div(class="navbar-brand")
            span(class="navbar-burger" data-target="navbarMenuHeroA")
              span
              span
              span
          div(id="navbarMenuHeroA" class="navbar-menu")
            div(class="navbar-end")
              a(class="navbar-item is-active" href="/") Home
              a(class="navbar-item") About
              a(class="navbar-item" href="/login") Sign In
              a(class="navbar-item") Sign Up     

      div(class="hero-body")
        div(class="container has-text-centered")
          p(class="title") MY BOOKS
          p(class="subtitle") here to share the joys of reading

  section(class="section is-medium")
    h1(class="title") BOOKS GO HERE
    h2(class="subtitle") The books that have been shared
    div(class="columns is-multiline")
      div(class="column is-one-third")
        div(class="card")
          div(class="card-content")
            div(class="media")
              div(class="media-left")
                figure(class="image is-48x48")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
              div(class="media-content")
                p(class="title is-6") Katrina JamJam
                //p(class="subtitle is-8") @katkat
          div(class="card-image")
            figure(class="image is-4by3")
              img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
          div(class="card-content")
            p(class="title is-4") Harry Potter and the Goblet of Fire
            p(class="subtitle is-6") J.K. Rowling
            div(class="content")
              | This is a long paragraph about the book im
              | reading

      div(class="column is-one-third")
        div(class="card")
          div(class="card-content")
            div(class="media")
              div(class="media-left")
                figure(class="image is-48x48")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
              div(class="media-content")
                p(class="title is-6") Katrina JamJam
          div(class="card-image")
            figure(class="image is-4by3")
              img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
          div(class="card-content")
            p(class="title is-4") Harry Potter and the Goblet of Fire
            p(class="subtitle is-6") J.K. Rowling
            div(class="content")
              | This is a long paragraph about the book im
              | reading

      div(class="column is-one-third")
        div(class="card")
          div(class="card-content")
            div(class="media")
              div(class="media-left")
                figure(class="image is-48x48")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
              div(class="media-content")
                p(class="title is-6") Katrina JamJam
          div(class="card-image")
            figure(class="image is-4by3")
              img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
          div(class="card-content")
            p(class="title is-4") Harry Potter and the Goblet of Fire
            p(class="subtitle is-6") J.K. Rowling
            div(class="content")
              | This is a long paragraph about the book im
              | reading  | This is a long paragraph about the book im
              | reading. How long can i get this to go? I dont know
              | lalalalalaalalalala

      div(class="column is-one-third")
        div(class="card")
          div(class="card-content")
            div(class="media")
              div(class="media-left")
                figure(class="image is-48x48")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
              div(class="media-content")
                p(class="title is-6") Katrina JamJam
          div(class="card-image")
            figure(class="image is-4by3")
              img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
          div(class="card-content")
            p(class="title is-4") Harry Potter and the Goblet of Fire
            p(class="subtitle is-6") J.K. Rowling
            div(class="content")
              | This is a long paragraph about the book im
              | reading

      div(class="column is-one-third")
        div(class="card")
          div(class="card-content")
            div(class="media")
              div(class="media-left")
                figure(class="image is-48x48")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
              div(class="media-content")
                p(class="title is-6") Katrina JamJam
          div(class="card-image")
            figure(class="image is-4by3")
              img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
          div(class="card-content")
            p(class="title is-4") Harry Potter and the Goblet of Fire
            p(class="subtitle is-6") J.K. Rowling
            div(class="content")
              | This is a long paragraph about the book im
              | reading. How long can i get this to go? I dont know
              | lalalalalaalalalala

      div(class="column is-one-third")
        div(class="card")
          div(class="card-content")
            div(class="media")
              div(class="media-left")
                figure(class="image is-48x48")
                  img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
              div(class="media-content")
                p(class="title is-6") Katrina JamJam
          div(class="card-image")
            figure(class="image is-4by3")
              img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
          div(class="card-content")
            p(class="title is-4") Harry Potter and the Goblet of Fire
            p(class="subtitle is-6") J.K. Rowling
            div(class="content")
              | This is a long paragraph about the book im
              | reading. How long can i get this to go? I dont know
              | lalalalalaalalalala

