extends layoutB

block content
    section(class="section is-small")
        nav(class="level")
            div(class="level-left")
                h1(class="title") Recent Books
            div(class="level-right")
                div(class="buttons")
                    button(class="js-modal-trigger button is-primary" data-target="upload-modal") Add Review    
        div(class="columns is-multiline")
            div(class="column is-one-third")
                div(class="card")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-left")
                                figure(class="image is-48x48")
                                    img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
                            div(class="media-content")
                                p(class="title is-6") Katrina JamJam
                                //p(class="subtitle is-8") @katkat
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
                    div(class="card-content")
                        p(class="title is-4") Harry Potter and the Goblet of Fire
                        p(class="subtitle is-6") J.K. Rowling
                        div(class="content")
                            | This is a long paragraph about the book im
                            | reading

            div(class="column is-one-third")
                div(class="card")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-left")
                                figure(class="image is-48x48")
                                    img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
                            div(class="media-content")
                                p(class="title is-6") Katrina JamJam
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
                    div(class="card-content")
                        p(class="title is-4") Harry Potter and the Goblet of Fire
                        p(class="subtitle is-6") J.K. Rowling
                        div(class="content")
                            | This is a long paragraph about the book im
                            | reading
            div(class="column is-one-third")
                div(class="card")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-left")
                                figure(class="image is-48x48")
                                    img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
                            div(class="media-content")
                                p(class="title is-6") Katrina JamJam
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
                    div(class="card-content")
                        p(class="title is-4") Harry Potter and the Goblet of Fire
                        p(class="subtitle is-6") J.K. Rowling
                        div(class="content")
                            | This is a long paragraph about the book im
                            | reading 
    section(class="section is-small")
        h1(class="title") All Books
        div(class="columns is-multiline")
            div(class="column is-one-third")
                div(class="card")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-left")
                                figure(class="image is-48x48")
                                    img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
                            div(class="media-content")
                                p(class="title is-6") Katrina JamJam
                                //p(class="subtitle is-8") @katkat
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
                    div(class="card-content")
                        p(class="title is-4") Harry Potter and the Goblet of Fire
                        p(class="subtitle is-6") J.K. Rowling
                        div(class="content")
                            | This is a long paragraph about the book im
                            | reading 
            div(class="column is-one-third")
                div(class="card")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-left")
                                figure(class="image is-48x48")
                                    img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
                            div(class="media-content")
                                p(class="title is-6") Katrina JamJam
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
                    div(class="card-content")
                        p(class="title is-4") Harry Potter and the Goblet of Fire
                        p(class="subtitle is-6") J.K. Rowling
                        div(class="content")
                            | This is a long paragraph about the book im
                            | reading 
            div(class="column is-one-third")
                div(class="card")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-left")
                                figure(class="image is-48x48")
                                    img(class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image")
                            div(class="media-content")
                                p(class="title is-6") Katrina JamJam
                    div(class="card-image")
                        figure(class="image is-4by3")
                            img(src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image")
                    div(class="card-content")
                        p(class="title is-4") Harry Potter and the Goblet of Fire
                        p(class="subtitle is-6") J.K. Rowling
                        div(class="content")
                            | This is a long paragraph about the book im
                            | reading 
    div(id="upload-modal" class="modal")
        div(class="modal-background")
        div(class="modal-card")
            form(class="box" id="review-form" method="post" action="/add-review" enctype="multipart/form-data")
                header(class="modal-card-head")
                    p(class="modal-card-title") Add Book Review
                section(class="modal-card-body")
                    div(class="field")
                        label(class="label") Title
                            div(class="control")
                                input(class="input" type="text" placeholder="Book Title" name="book_title")
                    div(class="field")
                        label(class="label") Author
                            div(class="control")
                                input(class="input" type="text" placeholder="Author Name" name="author")
                    div(class="file has-name")
                        label(class="file-label")
                            input(class="file-input" type="file" name="book_pic")
                            span(class="file-cta")
                                span(class="file-icon")
                                    i(class="fas fa-upload")
                                span(class="file-label") Upload book image  
                            span(class="file-name")
                    div(class="field")
                        label(class="label") Rating
                            div(class="control stars")
                                input(class="star-rating" type="radio" name="rating" value="1" id="rating-1") 
                                label(class="radio fa fa-star" for="rating-1")
                                input(class="star-rating" type="radio" name="rating" value="2" id="rating-2")
                                label(class="radio fa fa-star" for="rating-2") 
                                input(class="star-rating" type="radio" name="rating" value="3" id="rating-3") 
                                label(class="radio fa fa-star" for="rating-3")
                                input(class="star-rating" type="radio" name="rating" value="4" id="rating-4" ) 
                                label(class="radio fa fa-star" for="rating-4")
                                input(class="star-rating" type="radio" name="rating" value="5" id="rating-5") 
                                label(class="radio fa fa-star" for="rating-5") 
                    div(class="field")
                        label(class="label") Comment
                            div(class="control")
                                textarea(
                                    class="textarea" 
                                    placeholder="What is your opinion of the book?"
                                    name="comment"
                                )  


                footer(class="modal-card-foot")
                    button(type="submit" class="button is-success") Add Review
                    button(type="button" class="button" id="cancel-review") Cancel               
    h1 #{title} hello!