.main-img { 
    background: url('../images/IMG_2341.jpg')center center; 
    background-size:cover; 
}

.sub-img { 
    background: url('../images/IMG_2347.jpg')center center; 
    background-size:cover; 
}