
.main-img { 
    background: url('../images/IMG_2341.jpg')center center; 
    background-size:cover; 
}

.sub-img { 
    background: url('../images/IMG_2347.jpg')center center; 
    background-size:cover; 
}



//form stars
.star-img:hover {
    opacity: 0.4;
}


.form-stars > input[type="radio"] {
    display: none;
}


.expand-review {
    display: none;
}
